<div class="container-fluid">
    <ngx-spinner></ngx-spinner>
    <div id="summary-section">
        <div class="row">
            <div class="col-12 p-0">
                <app-patient-information [patient]="patient"></app-patient-information>
            </div>
            <div class="col-12 col-xl-9 p-0">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div id="session-status-bar">
                                    <span>Active Visit - 14.Mar.2021, 20:36:38</span>
                                </div>
                            </div>
                            <div class="col-12">
                
                                <div class="row">
                                    <div class="col-12 col-xl-6">
                
                                        <div class="section">
                                            <div class="sec-header">
                                                <span class="sec-title">Complaints</span>
                                            </div>
                                            <div id="notes-section"
                                                *ngIf="session && session?.complaints.length > 0; else noneTemplate">
                
                                                <ul class="no-bullets">
                                                    <li *ngFor="let note of session.complaints">
                                                        <div class="notes-item">
                                                            <span><i>{{note.entry}}</i></span>
                                                        </div>
                                                    </li>
                                                </ul>
                
                                            </div>
                                        </div>
                
                                        <div class="section">
                                            <div class="sec-header">
                                                <span class="sec-title">Physical Examination</span>
                                            </div>
                                            <div id="notes-section"
                                                *ngIf="session && session?.physicalExams.length > 0; else noneTemplate">
                
                                                <ul class="no-bullets">
                                                    <li *ngFor="let note of session.physicalExams">
                                                        <div class="notes-item">
                                                            <span><i>{{note.entry}}</i></span>
                                                        </div>
                                                    </li>
                                                </ul>
                
                                            </div>
                                        </div>
                
                                        <div class="section">
                                            <div class="sec-header">
                                                <span class="sec-title">Comorbidities</span>
                                            </div>
                                            <div id="notes-section"
                                                *ngIf="session && session?.comorbidities.length > 0; else noneTemplate">
                
                                                <ul class="no-bullets">
                                                    <li *ngFor="let note of session.comorbidities">
                                                        <div class="notes-item">
                                                            <span><i>{{note.entry}}</i></span>
                                                        </div>
                                                    </li>
                                                </ul>
                
                                            </div>
                                        </div>
                
                                        <div class="section">
                                            <div class="sec-header">
                                                <span class="sec-title">Investigations</span>
                                            </div>
                                            <div id="notes-section"
                                                *ngIf="session && session?.investigations?.length > 0; else noneTemplate">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead class="table-info">
                                                            <tr>
                                                                <th>Test</th>
                                                                <th>Results</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let investigation of session?.investigations; let i = index">
                                                                <td>{{investigation.test}}</td>
                                                                <td>{{investigation.results}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                
                                        <div class="section">
                                            <div class="sec-header">
                                                <span class="sec-title">Diagnosis</span>
                                            </div>
                                            <div id="notes-section" *ngIf="session && session?.diagnosis.length > 0; else noneTemplate">
                
                                                <ul class="no-bullets">
                                                    <li *ngFor="let note of session.diagnosis">
                                                        <div class="notes-item">
                                                            <span><i>{{note.entry}}</i></span>
                                                        </div>
                                                    </li>
                                                </ul>
                
                                            </div>
                                        </div>
                
                                        <div class="section">
                                            <div class="sec-header">
                                                <span class="sec-title">Treatment</span>
                                            </div>
                                            <div id="notes-section" *ngIf="session && session?.treatment.length > 0; else noneTemplate">
                
                                                <ul class="no-bullets">
                                                    <li *ngFor="let note of session.treatment">
                                                        <div class="notes-item">
                                                            <span><i>{{note.entry}}</i></span>
                                                        </div>
                                                    </li>
                                                </ul>
                
                                            </div>
                                        </div>
                
                                        <ng-template #noneTemplate>
                                            <p>None</p>
                                        </ng-template>
                
                                    </div>
                                    <div class="col-12 col-xl-6">
                
                                        <div class="section">
                                            <div class="sec-header">
                                                <span class="sec-title">Vitals</span>
                                            </div>
                
                                            <div id="notes-section" *ngIf="session && session?.vitals.length > 0; else noneTemplate">
                
                                                <div *ngFor="let vitalsItem of session.vitals">
                                                    <table class="table table-striped custab">
                                                        <tr>
                                                            <td class="vitals-item">
                                                                <span class="label">Systolic B.P</span>
                                                            </td>
                                                            <td class="vitals-item">
                                                                <span class="value">{{vitalsItem.systolic}}</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="vitals-item">
                                                                <span class="label">Diastolic B.P</span>
                                                            </td>
                                                            <td class="vitals-item">
                                                                <span class="value">{{vitalsItem.diastolic}}</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="vitals-item">
                                                                <span class="label">Pulse</span>
                                                            </td>
                                                            <td class="vitals-item">
                                                                <span class="value">{{vitalsItem.pulseRate}} /min</span>
                                                            </td>
                                                        </tr>
                
                                                        <tr>
                                                            <td class="vitals-item">
                                                                <span class="label">Temperature</span>
                                                            </td>
                                                            <td class="vitals-item">
                                                                <span class="value">{{vitalsItem.temperature}} celsius</span>
                                                            </td>
                                                        </tr>
                
                                                        <tr>
                                                            <td class="vitals-item">
                                                                <span class="label">SPO2</span>
                                                            </td>
                                                            <td class="vitals-item">
                                                                <span class="value">{{vitalsItem.SPO2}}%</span>
                                                            </td>
                                                        </tr>
                
                                                        <tr>
                                                            <td class="vitals-item">
                                                                <span class="label">Weight</span>
                                                            </td>
                                                            <td class="vitals-item">
                                                                <span class="value">{{vitalsItem.weight}} KGS</span>
                                                            </td>
                                                        </tr>
                
                                                    </table>
                                                </div>
                
                                            </div>
                
                                        </div>
                
                                        <div class="section">
                                            <div class="sec-header">
                                                <span class="sec-title">Charges</span>
                                            </div>
                
                                            <div class="table-responsive" *ngIf="session && session?.payments.length > 0; else noneTemplate">
                                                <table class="table">
                                                    <thead class="table-info">
                                                        <tr>
                                                            <th>Concept</th>
                                                            <th>Amount (Ksh)</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let payment of session?.payments; let i = index">
                                                            <td>{{payment.concept}}</td>
                                                            <td>{{payment.amount}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                
                                        </div>
                
                                    </div>
                                </div>
                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-xl-3 p-0">
                <div id="main-page-action-bar">
                    <div id="current-visit-actions" *ngIf="session?.status === 'Active'">
                        <h6 class="main-page-action-bar-title">Active Actions</h6>
                        <ul class="main-page-action-list">
                            <li class="main-page-action-list-item" (click)="navToPaymentsPage()">Add Charge</li>
                            <li class="main-page-action-list-item" (click)="navToVitalsPage()">Take Vitals</li>
                            <li class="main-page-action-list-item" (click)="navToSessionNotes()">Take Notes</li>
                            <li class="main-page-action-list-item" (click)="closeSession()">End Session</li>
                        </ul>
                    </div>
                    <div id="general-actions">
                        <h6 class="main-page-action-bar-title">General Actions</h6>
                        <ul class="main-page-action-list">
                            <li class="main-page-action-list-item" *ngIf="session?.status !== 'Active'" (click)="startNewSession()">Start Session</li>
                            <li class="main-page-action-list-item">Merge Sessions</li>
                            <li class="main-page-action-list-item">Delete Patient</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
