#patient-information {
    background-color: #eef5fd;
    padding: 20px 30px;
    margin-bottom: 2px;
}

#edit-patient-details-section #edit-patient-details-link {
    padding: 3px 10px;
    color: whitesmoke;
    background-color: blue;
    cursor: pointer;
    border-radius: 5px;
}

.data-value {
    font-weight: bold;
}

#patient-id-section .data-value {
    margin-left: 10px;
}