<!-- <div class="container-fluid"> -->
    <div class="register-new-patient-page">
        <ngx-spinner></ngx-spinner>
        <div class="card" *ngIf="patientExists !== true; else patientRecordTemplate">
            <div class="card-header card-green">
                <h4 class="page-title">Patient Registration</h4>
                <p class="card-category">Fill all the areas marked as <u>REQUIRED</u>.</p>
            </div>
            <div class="card-body">
                <!-- <div class="container"> -->
                    <form [formGroup]='newPatientRecordForm' id="patient-registration">

                        <div class="row">
                            <!-- <div class="col-12">

                            </div> -->
                            <div class="col-lg-6">

                                <div class="form-group has-success bmd-form-group">
                                    <label for="patientRegistrationNumber" class="bmd-label-floating label">
                                        <span>Patient ID</span>
                                        <span class="input-required">(required)</span>
                                    </label>
                                    <input type="text" id="patientRegistrationNumber" class="data-input"
                                        formControlName="patientRegistrationNumber" autocomplete="off">
        
                                    <div *ngIf="patientRegistrationNumber.invalid && patientRecordFormSubmitted">
                                        <div *ngIf="patientRegistrationNumber.errors.required">
                                            <small class="error-message">*required field!</small>
                                        </div>
                                    </div>
        
                                </div>

                                <div class="form-group has-success bmd-form-group">
                                    <label for="firstName" class="bmd-label-floating label">
                                        <span>First name</span>
                                        <span class="input-required">(required)</span>
                                    </label>
                                    <input type="text" class="data-input capitalize" id="firstName"
                                        formControlName="firstName" autocomplete="off">
        
                                    <div *ngIf="firstName.invalid && patientRecordFormSubmitted">
                                        <div *ngIf="firstName.errors.required">
                                            <small class="error-message">*required field!</small>
                                        </div>
                                    </div>
        
                                </div>
                                
                                <div class="form-group has-success bmd-form-group">
                                    <label for="last_name" class="bmd-label-floating label">
                                        <span>Last Name</span>
                                        <span class="input-required">(required)</span>
                                    </label>
                                    <input type="text" class="data-input capitalize" id="last_name"
                                        formControlName="lastName" autocomplete="off">

                                    <div *ngIf="lastName.invalid && patientRecordFormSubmitted">
                                        <div *ngIf="lastName.errors.required">
                                            <small class="error-message">*required field!</small>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group has-success bmd-form-group is-filled">
                                    <label for="gender" class="bmd-label-floating label">
                                        <span>Gender</span>
                                        <span class="input-required">(required)</span>
                                    </label>
                                    <select class="data-input" id="gender" formControlName="gender">
                                        <option value="" disabled selected>Choose gender</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Other">Other</option>
                                    </select>

                                    <div *ngIf="gender.invalid && patientRecordFormSubmitted">
                                        <div *ngIf="gender.errors.required">
                                            <small class="error-message">*required field!</small>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-6">

                                <div class="form-group has-success bmd-form-group">
                                    <label for="date_of_birth" class="bmd-label-floating label">
                                        <span>Date of Birth</span>
                                        <span class="input-required">(required)</span>
                                    </label>
                                    <input type="date" class="data-input" id="date_of_birth"
                                        formControlName="dateOfBirth" autocomplete="off">

                                    <div *ngIf="dateOfBirth.invalid && patientRecordFormSubmitted">
                                        <div *ngIf="dateOfBirth.errors.required">
                                            <small class="error-message">*required field!</small>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group has-success bmd-form-group">
                                    <label for="phoneNumber" class="bmd-label-floating label">
                                        <span>Phone Number</span>
                                        <span class="input-required">(required)</span>
                                    </label>
                                    <input type="text" class="data-input" id="phoneNumber"
                                        formControlName="phoneNumber" autocomplete="off">

                                    <div *ngIf="phoneNumber.invalid && patientRecordFormSubmitted">
                                        <div *ngIf="phoneNumber.errors.required">
                                            <small class="error-message">*required field!</small>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group has-success bmd-form-group">
                                    <label for="residence" class="bmd-label-floating label">
                                        <span>Residence</span>
                                        <span class="input-required">(required)</span>
                                    </label>
                                    <input type="text" class="data-input capitalize" id="residence"
                                        formControlName="residence" [typeahead]="counties" [adaptivePosition]="true"
                                        required autocomplete="off">

                                    <div *ngIf="residence.invalid && patientRecordFormSubmitted">
                                        <div *ngIf="residence.errors.required">
                                            <small class="error-message">*required field!</small>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
    
                        <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: center; margin-top: 20px;">
                            <button (click)="onSubmit()" class="btn btn-primary submit-button">submit</button>
                        </div>
    
                    </form>
                <!-- </div> -->
            </div>
        </div>

        <ng-template #patientRecordTemplate>
            <div class="card">
                <div class="card-body">
                    <div class="data-exists-error">
                        <h5 class="data-exists-error-title">
                            A patient with the same <u>Registration Number</u> OR <u>Name and Phone Number</u> already exists.
                        </h5>
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="table-info">
                                    <tr>
                                        <th></th>
                                        <th>Name</th>
                                        <th>Gender</th>
                                        <th>Age</th>
                                        <th>Reg No</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="table-entry-clickable"
                                        *ngFor="let patient of queryResults; let i = index"
                                        (click)="patientDetails(patient)">
                                        <td>{{(i+1)}}</td>
                                        <td>{{patient.firstName}} {{patient.middleName}} {{patient.surname}}</td>
                                        <td>{{patient.gender}}</td>
                                        <td>{{patient.age}}</td>
                                        <td>{{patient.patientRegistrationNumber}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-info" (click)="backToForm()">Go Back To Form</button>
                </div>
            </div>
        </ng-template>
    </div>
<!-- </div> -->